@model IEnumerable<MRCDataLibrary._02_Models.MemberModel>

@{
    ViewData["Title"] = "MemberListView";
}

<div class="row">
    <div class="col-9">
        <h2 class="text-info">Member List</h2>
    </div>
    <div class="col-3">
        <a asp-action="Create" class="btn btn-info form-control text-white">Add Member</a>
    </div>
</div>

@if (Model is null)
{
    <h4>Records Loading...</h4>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Birth Date</th>
                <th>Family</th>
                <th>Group</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr>
                    <td><a href="/Member/Detail?memberId=@member.MemberId"> @member.LastName @member.FirstName </a></td>
                    <td>@member.EmailAddr</td>
                    <td>@member.PhoneNum</td>
                    <td>@member.BirthDate.ToString("yyyy-MM-dd")</td>
                    <td>@member.FamilyId</td>
                    <td>@member.GroupCd</td>
                    <td>@member.TeamCd</td>
                </tr>
            }
        </tbody>

    </table>
}