@model MrcCoreMvc.Models.AttendanceListModel

<div class="row">
    <div class="col-9">
        <h2 class="text-info">@Model.Worship.WorshipDate.ToString("dd/MM/yyyy HH:mm")  @Model.Worship.WorshipName Attendance List</h2>
    </div>
    <div class="col-3">
        <a asp-action="Create" asp-route-worshipId="@Model.Worship.WorshipId" class="btn btn-info form-control text-white"><i class="fas fa-plus"></i> &nbsp;Add Attendance</a>
    </div>
</div>


@if (Model is null)
{
    <h4>Records Loading...</h4>
}
else
{
    <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
        <thead class="thead-dark">
            <tr>
                <th>Attendance Name</th>
                <th>Record Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attendance in Model.AttendanceList)
            {
                <tr>
                    <td>@attendance.MEMBER_NAME</td>
                    <td>@attendance.REGISTER_DT</td>
                    <td>
                        <a asp-action="Delete" asp-route-worshipId="@attendance.WORSHIP_ID" asp-route-memberId="@attendance.MEMBER_ID" class="btn btn-danger btn-sm" style="width: 70px">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @*@section Scripts{
            <script src="~/js/attendance.js"></script>
        }*@

    <div>
        <a href="/Worship/Index?worshipId=@Model.Worship.WorshipId">Back to Schedule List</a>
    </div>


}